@use "../../../styles.scss" as base;
@use "../dashboard.global.scss" as dashboard;

.activity-data {
  display: block;
  background-color: base.$dark-blue;
  padding: 1.6rem;
  border-radius: dashboard.$card-border-radius;

  &:hover {
    background: linear-gradient(
      315deg,
      rgba(145, 0, 159, 0.4) 0%,
      rgba(53, 53, 205, 0.4) 100%
    );
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-block-end: 0.5rem;

    h2 {
      color: white;
      font-size: 1.125rem;
      font-weight: 400;
    }

    @media (width > 54rem) {
      margin-block-end: 1.5rem;
    }
  }
}

.data-container {
  container-type: inline-size;
  .data {
    .current {
      font-size: clamp(2rem, calc(1.25rem + 3vw), 3.5rem);
      color: white;
      font-weight: 300;

      @media (width > 54rem) {
        margin-block-end: 1rem;
      }
    }

    .previous {
      font-size: clamp(0.8rem, calc(0.55rem + 0.5vw), 0.92rem);
    }
  }
}

@container (width > 15rem) {
  .data-container .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
