main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding-inline: 1.5rem;
  align-items: center;
}

footer {
  font-size: 0.6rem;
  text-align: center;
  font-weight: 300;

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
