@use "../../styles.scss" as base;
@use "./dashboard.global.scss" as dashboard;

.dashboard {
  display: grid;
  gap: dashboard.$grid-gap;

  max-width: 70rem;
  margin: 5rem auto;

  .card--user {
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
      padding: dashboard.$card-padding-inline;
      background-color: base.$blue;
      border-radius: dashboard.$card-border-radius;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .profile-pic {
        flex: 1;
        min-width: 3rem;
        max-width: 5rem;
        border: 3px solid white;
        border-radius: 50%;
      }

      h2 {
        font-size: 1rem;
        font-weight: 300;

        strong {
          margin-block-start: 0.125em;
          display: block;
          color: white;
          font-size: clamp(1.5em, calc(1rem + 2vw), 2.5rem);
          font-weight: inherit;
        }
      }
    }

    ul {
      flex: 1;
      margin-inline: auto;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: min(100%, 40rem);
      max-width: 30rem;
      gap: clamp(1rem, 5vw, 2rem);
      padding: 1.5rem dashboard.$card-padding-inline;
      color: base.$desaturated-blue;

      button {
        font-size: 1.125rem;
        text-align: center;

        &:focus,
        &:hover,
        &:active,
        &.active {
          color: white;
          font-weight: 400;
        }
      }
    }
  }

  .activities {
    display: grid;
    gap: dashboard.$grid-gap;
  }
}

@media (width > 30rem) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);

    .card-container--user {
      grid-column: 1 / -1;
    }

    .activities {
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }
  }
}

@media (width > 42rem) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);

    .activities {
      grid-row: 2 / -1;
    }
  }
}

@media (width > 54rem) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);

    .card-container--user {
      grid-column: 1;
      grid-row: 1 / -1;

      .card--user {
        header {
          flex: 1;
        }
        ul {
          flex: 0;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 1.5rem;
        }
      }
    }

    .activities {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
  }
}
