<section class="dashboard">
  <article class="dashboard__card dashboard__card--user">
    <header>
      <img
        src="assets/images/image-jeremy.png"
        alt="Jeremy Robson profile picture"
        class="dashboard__user-avatar"
      />
      <h2 class="dashboard__title">
        Report for
        <strong>Jeremy Robson </strong>
      </h2>
    </header>
    <section class="dashboard__timespans">
      <button class="dashboard__timespan">Daily</button>
      <button class="dashboard__timespan">Weekly</button>
      <button class="dashboard__timespan">Monthly</button>
    </section>
  </article>
  <section class="dashboard__categories">
    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Work</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">32hrs</p>
      <p class="dashboard__prev-timespan">Previous - 36hrs</p>
    </article>

    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Play</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">10hrs</p>
      <p class="dashboard__prev-timespan">Previous - 8hrs</p>
    </article>

    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Study</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">4hrs</p>
      <p class="dashboard__prev-timespan">Previous - 7hrs</p>
    </article>

    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Exercise</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">4hrs</p>
      <p class="dashboard__prev-timespan">Previous - 5hrs</p>
    </article>

    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Social</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">5hrs</p>
      <p class="dashboard__prev-timespan">Previous - 10hrs</p>
    </article>

    <article class="dashboard__card dashboard__card--category">
      <header class="dashboard__header">
        <h2 class="dashboard__category-title">Self Care</h2>
        <button class="dashboard__btn-options">
          <img src="assets/images/icon-ellipsis.svg" alt="" />
        </button>
      </header>
      <p class="dashboard__value">2hrs</p>
      <p class="dashboard__prev-timespan">Previous - 2hrs</p>
    </article>
  </section>
</section>
