<section class="dashboard">
  <div class="card-container card-container--user">
    <article class="card card--user">
      <header>
        <img
          src="assets/images/image-jeremy.png"
          alt="Jeremy Robson profile picture"
          class="profile-pic"
        />
        <h2>
          Report for
          <strong>Jeremy Robson </strong>
        </h2>
      </header>
      <ul class="time-units">
        <li class="time-unit" *ngFor="let view of views">
          <button [class.active]="currView === view" (click)="changeView(view)">
            {{ view | titlecase }}
          </button>
        </li>
      </ul>
    </article>
  </div>
  <section class="activities">
    <ng-template ngFor let-data [ngForOf]="specificData">
      <app-activity [data]="data" [previous]="previous"></app-activity>
    </ng-template>
  </section>
</section>
